.footer {
  background-color: $color-3;
  position: relative;
  z-index: 2;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0;
  color: $color-1;
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    padding: 30px 0;
  }
}

.footer__copy {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: $color-12;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  @include media-breakpoint-down(xs) {
    margin-top: 20px;
    order: 3;
  }
  & > img {
    max-width: 100%;
    margin-top: 7px;
  }
}

.footer__address {
  font-size: 0.9375rem;
  font-weight: 200;
  padding: 0 20px;
  box-sizing: border-box;
  white-space: nowrap;
  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 0.8rem;
  }
  @include media-breakpoint-down(xs) {
    position: static;
    margin-bottom: 10px;
    font-size: 1rem;
    order: 1;
  }
}

.footer__call {
  @include media-breakpoint-down(xs) {
    order: 2;
    .header-call__go {
      display: inline-flex;
    }
  }
}
