.secrets {
  display: flex;
  margin-top: 50px;
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}
.secrets__stars {
  position: absolute;
  top: 37px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  @include media-breakpoint-down(md) {
    display: none;
  }
  & > span {
    & > svg {
      width: 23px;
      height: 23px;
      fill: $color-14;
    }
  }
}
.secrets__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 30px;
  @include media-breakpoint-down(md) {
    width: calc(50% - 30px);
    margin-bottom: 50px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin-right: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.secrets__icon {
  width: 100px;
  height: 100px;
  background-color: $color-9;
  border-radius: 50%;
  box-shadow: 0 0 13px 0 #f4c45c;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  & > svg {
    width: 55px;
    fill: $color-3;
  }
}

.secrets__name {
  margin-top: 10px;
  font-weight: 800;
  font-size: 1.125rem;
  margin: 26px 0 12px;
}

.secrets__comment {
  color: $color-6;
  line-height: 1.5rem;
}
