%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-svg_gasoline_refill {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-svg_gasoline_refill-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_handshake {
	@extend %svg-common;
	background-position: 50% 0;
}

.svg-svg_handshake-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_headset {
	@extend %svg-common;
	background-position: 0 50%;
}

.svg-svg_headset-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_phone {
	@extend %svg-common;
	background-position: 50% 50%;
}

.svg-svg_phone-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_play {
	@extend %svg-common;
	background-position: 73.80952380952381% 79.36507936507937%;
}

.svg-svg_play-dims {
	width: 24px;
	height: 24px;
}

.svg-svg_shake_phone {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-svg_shake_phone-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_star {
	@extend %svg-common;
	background-position: 46.728971962616825% 93.45794392523365%;
}

.svg-svg_star-dims {
	width: 43px;
	height: 43px;
}

.svg-svg_star_2 {
	@extend %svg-common;
	background-position: 92.85714285714286% 79.36507936507937%;
}

.svg-svg_star_2-dims {
	width: 24px;
	height: 24px;
}

.svg-svg_time {
	@extend %svg-common;
	background-position: 100% 50%;
}

.svg-svg_time-dims {
	width: 50px;
	height: 50px;
}

.svg-svg_user {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-svg_user-dims {
	width: 50px;
	height: 50px;
}

